<%= javascript_pack_tag 'index' %>

<div id="navbar">
    <%= render 'navbar' %>
</div>
<div id="nav-buttons">
    <%= button_to "Create post", { action: "create_post"}, { method: :get, class: "homepage-button", id: "f-button" }%>
    <%= button_to "Search for post", { action: "find_post" }, { method: :get, class: "homepage-button" }%>
</div>